/* global styles start here */
@import url('https://fonts.googleapis.com/css?family=Poppins:200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #000;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}
/* global styles end here */

/* navigation styles start here */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header #logo {
    height: 40px;
}

header #logo:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

header .navbar {
    position: relative;
    display: flex;
}

header .navbar li {
    list-style: none;
    letter-spacing: 1px;
}

header .navbar li a {
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;    
}

header .navbar li a:hover {
    color: #A8A8A8;
    transition: 0.2s ease;
}
/* navigation styles end here */

/* title styles start here */
.content {
    max-width: 600px;
}

.content .title h2 {
    font-size: 3.6em;
    color: #fff;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content .title p {
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
    letter-spacing: 1px;
}

.content .title a {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: .5em;
}

.content .title a:hover {
    background: #A8A8A8;
    color: #fff;
    transition: 0.3s ease-in-out; 
}
/* title styles end here */

/* social media icons styles start here  */
.social {
    position: absolute;
    bottom: 30px;
    display: flex;
}

.social li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li a {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    font-size: 1.25em;
    color: #fff;
}

.social li a:hover {
    color: #A8A8A8;
}
/* social media icons styles end here  */

/* responsive styles start here */
@media (max-width: 991px) {
    header {
        padding: 15px 40px;
    }
    header #logo {
        height: 30px;
    }
    .container {
        padding: 40px;
    }
    .content .title h2 {
        font-size: 1.5em;
    }
    .content .title p {
        font-size: .8em;
    }
    header .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header .navbar.active {
        display: flex;
    }
    header .navbar li a {
        font-size: 24px;
        margin: 10px 0;
    }
    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(img/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }
    .toggleMenu.active {
        background: url(img/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }
    .content .title p {
        margin: 10px 0;
    }
    .content .title a {
        padding: 5px 12px;
    }
    .social li a {
        margin-right: 15px;
    }
}
@media (max-width: 799px) {
    .container {
        background-size: contain;
    }
}
/* responsive styles end here */